#header {
    text-align: center;
    font-size: 1000%;
}

#Body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Img1 {
    display: flex;
    align-items: center;
    width: 150%;
    height: 150%;
    justify-content: center;
}

#Favorite-Things {
    text-align: center;
    word-wrap: normal;
    font-size: 500%;
}

#Favorites {
    font-size: 70%;
    text-align: center;
}

#Img2 {
width: 500px;
height: 350px;

}

#Img3 {
    width: 500px;
    height: 350px;
}

#Img4 {
    width: 500px;
    height: 350px;
}

#Img5 {
    width: 500px;
    height: 350px;
}

#Img6 {
    width: 500px;
    height: 350px;
}

#Img7 {
    width: 500px;
    height: 350px;
}

#Img8 {
    width: 500px;
    height: 350px;
}

#Eat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#Sleep {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Go {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Snuggle {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Guard {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Squirels {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Friends {
    display: flex;
    justify-content: center;
    flex-direction: column;
}